<div id="tabContact" class="mytab">
  <h2>Contact</h2>(<span style="color:red;">*は必須項目です</span>)
  <div class="contact-form">
    <%= form_for(@contact,url: '/') do |f| %>

      <%= f.label :name ,"名前*"%>
      <%= f.text_field :name, class: 'form form-name' %>

      <%= f.label :email ,"返信用メールアドレス*"%>
      <%= f.email_field :email, class: 'form form-email' %>

      <%= f.label :content ,"内容*"%>
      <%= f.text_area :content, class: 'form form-content' %>

      <%= f.submit "送信", class: "form form-btn" %>
    <% end %>
  </div>
</div>