<div id="tabProductions" class="mytab">
  <h2>作品(<%= @productions.count %> productions)</h2>
  <ul>
    <% @productions.each do |production| %>
      <li class="my_production">
        <p class="title-name"><%= production.name %></p>
        <h4>[内容]</h4>
        <div class="my-content">
          <p><%= simple_format(production.content) %></p>
        </div>
        <div>リンク:<%= link_to "#{production.name}", "#{production.link}" %></div>
        <div>使用スキル:
          <% production.languages.each do |language| %>
            <%= link_to "#{language.name}", "/language/#{language.id}" %>
          <% end %>
        </div>
        <p class="update">最終更新日:<%= production.complete_date %></p>
      </li>
    <% end %>
  </ul>
</div>