<div class=containers>
  <%= image_tag "background.jpg" %>
  <h1 class="title">Welcome to Yuki's PortFolio</h1>
  <div class="contents">
    <div class="choices">
      <div class="btn-wrapper">
        <div class="btn1 mybtn">About</div>
        <div class="btn2 mybtn">Productions</div>
        <div class="btn3 mybtn">Hobby</div>
        <div class="btn4 mybtn">Contact</div>
      </div>
    </div>
    <%= render 'home/aboutpage' %>
    <%= render 'home/productionspage' %>
    <%= render 'home/hobbypage' %>
    <%= render 'home/contactpage' %>
</div>
<script>
$(function () {
  $('.btn1').click(function(){
    $('.mybtn').css("background-color","black");
    $(this).css("background-color","rgba(255, 255, 255, 0.6)");
    $('.mytab').removeClass('show');
    $('#tabAbout').addClass('show');
  });
  $('.btn2').click(function(){
    $('.mybtn').css("background-color","black");
    $(this).css("background-color","rgba(255, 255, 255, 0.6)");
    $('.mytab').removeClass('show');
    $('#tabProductions').addClass('show');
  });
  $('.btn3').click(function(){
    $('.mybtn').css("background-color","black");
    $(this).css("background-color","rgba(255, 255, 255, 0.6)");
    $('.mytab').removeClass('show');
    $('#tabHobby').addClass('show');
  });
  $('.btn4').click(function(){
    $('.mybtn').css("background-color","black");
    $(this).css("background-color","rgba(255, 255, 255, 0.6)");
    $('.mytab').removeClass('show');
    $('#tabContact').addClass('show');
  });


	$('.title').textillate({
		// ループ
		loop: true,
		// 間隔時間
		minDisplayTime: 8000,
		// 遅延時間
		initialDelay: 0,
		// 自動スタート
		autoStart: true,
		// アニメーションの開始オプション
		in: {
			// エフェクト
			effect: 'rollIn',
			// 遅延時間の指数
			delayScale: 1.5,
			// 文字の遅延時間
			delay: 200,
			// アニメーションを同時実行
			sync: false,
			// アニメーションをランダム実行
			shuffle: false,
			// アニメーションをリバース実行
			reverse: false
		},
		// アニメーションの終了オプション
		out: {
			// エフェクト
			effect: 'rollOut',
			// 遅延時間の指数
			delayScale: 1.5,
			// 文字の遅延時間
			delay: 200,
			// アニメーションを同時実行
			sync: false,
			// アニメーションをランダム実行
			shuffle: false,
			// アニメーションをリバース実行
			reverse: false
		}
	});
});
</script>