<div class=containers>
  <%= image_tag "background.jpg" %>
  <h1 class="title">Welcome to Yuki's PortFolio</h1>
  <div class="contents">
    <div class="choices">
      <div class="btn-wrapper">
        <div class="btn1 mybtn chosen-btn">About</div>
        <div class="btn2 mybtn">Productions</div>
        <div class="btn3 mybtn">Hobby</div>
				<div class="btn4 mybtn">Blog</div>
        <div class="btn5 mybtn">Contact</div>
				<span class="fa fa-list fa-3x"></span>
				<div class="toggle-lists">
					<p class="btn1 btn">About</p>
					<p class="btn2 btn">Productions</p>
					<p class="btn3 btn">Hobby</p>
					<p class="btn4 btn">Blog</p>
					<p class="btn5 btn">Contact</p>
				</div>
      </div>
    </div>

    <%= render 'home/aboutpage' %>
    <%= render 'home/productionspage' %>
    <%= render 'home/hobbypage' %>
		<%= render 'home/blogpage' %>
    <%= render 'home/contactpage' %>
	</div>
</div>
<script>
$(function () {

  $(".fa-list").click(function(){
		$('.toggle-lists').slideToggle();
	});
  $('.btn1').click(function(){
	  $('.mybtn').removeClass('chosen-btn');
		$(this).addClass('chosen-btn');
    $('.mytab').removeClass('show');
    $('#tabAbout').addClass('show');
  });
  $('.btn2').click(function(){
		$('.mybtn').removeClass('chosen-btn');
		$(this).addClass('chosen-btn');
    $('.mytab').removeClass('show');
    $('#tabProductions').addClass('show');
  });
  $('.btn3').click(function(){
		$('.mybtn').removeClass('chosen-btn');
		$(this).addClass('chosen-btn');
    $('.mytab').removeClass('show');
    $('#tabHobby').addClass('show');
  });
  $('.btn4').click(function(){
	  $('.mybtn').removeClass('chosen-btn');
		$(this).addClass('chosen-btn');
    $('.mytab').removeClass('show');
    $('#tabBlog').addClass('show');
  });
  $('.btn5').click(function(){
	  $('.mybtn').removeClass('chosen-btn');
		$(this).addClass('chosen-btn');
    $('.mytab').removeClass('show');
    $('#tabContact').addClass('show');
  });

	$('.title').textillate({
		// ループ
		loop: true,
		// 間隔時間
		minDisplayTime: 8000,
		// 遅延時間
		initialDelay: 0,
		// 自動スタート
		autoStart: true,
		// アニメーションの開始オプション
		in: {
			// エフェクト
			effect: 'rollIn',
			// 遅延時間の指数
			delayScale: 1.5,
			// 文字の遅延時間
			delay: 200,
			// アニメーションを同時実行
			sync: false,
			// アニメーションをランダム実行
			shuffle: false,
			// アニメーションをリバース実行
			reverse: false
		},
		// アニメーションの終了オプション
		out: {
			// エフェクト
			effect: 'rollOut',
			// 遅延時間の指数
			delayScale: 1.5,
			// 文字の遅延時間
			delay: 200,
			// アニメーションを同時実行
			sync: false,
			// アニメーションをランダム実行
			shuffle: false,
			// アニメーションをリバース実行
			reverse: false
		}
	});
});
</script>