<div class=containers>
  <%= image_tag "background.jpg" %>
  <h1 id="title"></h1>
  <div class="contents">
    <div class="choices">
      <div class="btn-wrapper">
        <div class="btn1 mybtn chosen-btn">About</div>
        <div class="btn2 mybtn">Productions</div>
        <div class="btn3 mybtn">Hobby</div>
        <div class="btn4 mybtn">Blog</div>
        <div class="btn5 mybtn">Contact</div>
        <span class="fa fa-list fa-3x"></span>
        <div class="toggle-lists">
          <p class="btn1 btn">About</p>
          <p class="btn2 btn">Productions</p>
          <p class="btn3 btn">Hobby</p>
          <p class="btn4 btn">Blog</p>
          <p class="btn5 btn">Contact</p>
        </div>
      </div>
    </div>
    <%= render 'home/aboutpage' %>
    <%= render 'home/productionspage' %>
    <%= render 'home/hobbypage' %>
    <%= render 'home/blogpage' %>
    <%= render 'home/contactpage' %>
  </div>
</div>
<div class="skill_animation">
</div>
<script text="type/javascript">
var i = 0;
var str = 'Welcome to Yuki\'s PortFolio.';
var titleText = document.getElementById('title');
oneChar();
function oneChar(){
  var random = Math.floor(Math.random() * 151) + 100;
  titleText.innerText = str.substring(0,i++);
  titleText.innerHTML += '<span id=pointer>|</span>';
  if(i <= str.length){
    setTimeout('oneChar();', random);
  }else{
    setTimeout('deleteChar();', 5000);
  }
}

function deleteChar(){
  var random = Math.floor(Math.random() * 81) + 30;
  titleText.innerText = str.substring(0,i--);
  titleText.innerHTML += '<span id=pointer>|</span>';
  if(i >= 0){
    setTimeout('deleteChar();', random);
  }else{
    setTimeout('oneChar();', 2000);
  }
}
setInterval(function(){
  document.getElementById('pointer').style.opacity ^= 1;
}, 500);

</script>
<script>
$(function () {
  $(".fa-list").click(function(){
		$('.toggle-lists').slideToggle();
	});
  $('.btn1').click(function(){
	  $('.mybtn').removeClass('chosen-btn');
		$(this).addClass('chosen-btn');
    $('.mytab').removeClass('show');
    $('#tabAbout').addClass('show');
  });
  $('.btn2').click(function(){
		$('.mybtn').removeClass('chosen-btn');
		$(this).addClass('chosen-btn');
    $('.mytab').removeClass('show');
    $('#tabProductions').addClass('show');
  });
  $('.btn3').click(function(){
		$('.mybtn').removeClass('chosen-btn');
		$(this).addClass('chosen-btn');
    $('.mytab').removeClass('show');
    $('#tabHobby').addClass('show');
  });
  $('.btn4').click(function(){
	  $('.mybtn').removeClass('chosen-btn');
		$(this).addClass('chosen-btn');
    $('.mytab').removeClass('show');
    $('#tabBlog').addClass('show');
  });
  $('.btn5').click(function(){
	  $('.mybtn').removeClass('chosen-btn');
		$(this).addClass('chosen-btn');
    $('.mytab').removeClass('show');
    $('#tabContact').addClass('show');
  });
});
</script>