<!DOCTYPE html>
<html>
  <head>
    <title>RailsMyPortfolio</title>
    <%= favicon_link_tag('favicon.ico') %>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= yield %>
    <%= render 'layouts/flashAlert' %>
    <%= render 'layouts/footer' %>
  </body>

</html>
